:root {
    --primary-color: #2ECC71;
    --primary-light-color: #FFFFFF;
    --secondary-color: #9BE8BB;
    --tertiary-color: #08605F;
    --tertiary-contrast-color: #177E89;
    --background-color: #f6f4f4;

    --primary-color-hover: #114f2b;
    /*usage var(--var-name);*/

    font-family: 'Lato', sans-serif;
}

.primary-btn {
    background-color: var(--primary-color);
    color: var(--primary-light-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.primary-btn:hover {
    background-color: var(--primary-color-hover);
}