body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  form {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  h1 {
    text-align: center;
    color:var(--primary-color);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #666;
  }
  
  input[type="email"],
  input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    background-color:var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  .error {
    color: #c00;
    margin-bottom: 10px;
  }
  
  .success {
    color: #0c0;
    margin-bottom: 10px;
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }
  
  .links a {
    color: #333;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .links a:hover {
    color: #555;
  }